In [1]:
import pandas as pd

In [2]:
data_to_load = "HeroesOfPymoli/Resources/purchase_data.csv"

In [3]:
game_df = pd.read_csv(data_to_load)

In [4]:
total_players = game_df["SN"].value_counts()
total_players

Lisosia93       5
Iral74          4
Idastidru52     4
Iskadarya95     3
Chanastnya43    3
               ..
Quanrion96      1
Hallysucal81    1
Isty55          1
Ethrasyon38     1
Ethralista69    1
Name: SN, Length: 576, dtype: int64

In [5]:
Total_players=pd.DataFrame

In [6]:
pd.DataFrame({"Total Player": [576]})

   Total Player
0           576

In [7]:
unique_items = len(game_df["Item Name"].unique())

total_revenue = sum(game_df["Price"])

total_purchases = game_df["Price"].count()

average_price = game_df["Price"].mean()

In [8]:
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Avg Price": average_price, "Number of Purchases": total_purchases, "Total Revenue": total_revenue})
summary_df

   Number of Unique Items  Avg Price  Number of Purchases  Total Revenue
0                     179   3.050987                  780        2379.77

In [9]:
df1 = game_df["Gender"].value_counts()

In [11]:
total_counts = df1.rename("total_counts")

In [12]:
total_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: total_counts, dtype: int64

In [13]:
tc = pd.DataFrame(total_counts)

In [14]:
tc["percentage of players"] =tc["total_counts"] / len(game_df) * 100

In [15]:
tc

                       total_counts  percentage of players
Male                            652              83.589744
Female                          113              14.487179
Other / Non-Disclosed            15               1.923077

In [16]:
gender_info = game_df.groupby("Gender")

In [17]:
gender_count = gender_info.nunique()["SN"]

In [18]:
total_purchases_gender = gender_info ["Price"].count()

average_purchase_price = gender_info["Price"].mean()

total_revenue = gender_info["Price"].sum()

avg_purchase_per_person = average_purchase_price / gender_count

In [19]:
gender_df = pd.DataFrame ({"Purchase Count": total_purchases_gender, "Average Purchase Price": average_purchase_price, 
                            "Total Purchase Value": total_revenue, "Avg Total Purchase Per Person": avg_purchase_per_person})

In [20]:
gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,0.039543
Male,652,3.017853,1967.64,0.006235
Other / Non-Disclosed,15,3.346000,50.19,0.304182

In [21]:
age_info = game_df.groupby("Age")
age_range = age_info

In [22]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99.99]
age_group_bins = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [23]:
age_info = pd.cut(game_df["Age"], bins, labels = age_group_bins)
age_info

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [24]:
group_by_age=game_df.groupby("Age")

In [25]:
total_players = len(game_df["SN"].value_counts())

In [26]:
age_count_total = age_range["SN"].nunique()
age_percentage = (age_count_total/total_players) * 100

In [27]:
about_age = pd.DataFrame({"Percentage of Players": age_percentage, "Total Count": age_count_total})
about_age.head()

     Percentage of Players  Total Count
Age
7                 1.215278            7
8                 1.041667            6
9                 0.694444            4
10                1.215278            7
11                1.041667            6

In [28]:
about_spenders = game_df.groupby("SN")

In [29]:
purchase_count_total = about_spenders["Item ID"].count()
avg_purchase_spender = about_spenders["Price"].mean()
purchase_total = about_spenders["Price"].sum()

In [30]:
big_spenders = pd.DataFrame({"Purchase Count": purchase_count_total, "Average Purchase Price": avg_purchase_spender, "Total Purchase Value": purchase_total})

In [31]:
biggest_smallest =big_spenders.sort_values(["Total Purchase Value"], ascending = False).head()

In [32]:
biggest_smallest

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [33]:
game_details = game_df [["Item Name", "Item ID", "Price"]]
game_details

                                     Item Name  Item ID  Price
0    Extraction, Quickblade Of Trembling Hands      108   3.53
1                            Frenzied Scimitar      143   1.56
2                                 Final Critic       92   4.88
3                                  Blindscythe      100   3.27
4                                         Fury      131   1.44
..                                         ...      ...    ...
775                                       Wolf       60   3.54
776                           Exiled Doomblade      164   1.63
777      Celeste, Incarnation of the Corrupted       67   3.46
778                               Final Critic       92   4.19
779                                       Dawn       50   4.60

[780 rows x 3 columns]

In [34]:
item_info = game_details.groupby(["Item ID", "Item Name"])

In [35]:
game_purchase_count = item_info["Price"].count()
game_purchase_total = item_info["Price"].sum()

In [36]:
price_per_item = game_purchase_total / game_purchase_count

In [37]:
winning_item = pd.DataFrame({"Purchase Count": game_purchase_count, "Item Price": price_per_item, 
              "Total Purchase Value":game_purchase_total})

In [38]:
the_winner_is= winning_item.sort_values(["Purchase Count"], ascending =False).head()
the_winner_is

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [39]:
the_loser_is = winning_item.sort_values(["Total Purchase Value"], ascending = True).head()
the_loser_is

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
42,The Decapitator,1,1.75,1.75
104,Gladiator's Glaive,1,1.93,1.93
126,Exiled Mithril Longsword,1,2.00,2.00
125,Whistling Mithril Warblade,2,1.00,2.00
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12